# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
ENV/
.venv/

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and database files
*.log
*.sqlite3

# System files
.DS_Store
Thumbs.db

# Python IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.cache

# Environments
*.env
.envrc
*.ini
*.config
